@model IEnumerable<dynamic>

<div class="row bg-white pt-3 pb-2 mt-2 shadow-sm rounded">
    <div class="col-6">
        <h1 class="breadcrumb-title text-uppercase text-gray fa-1x">@ViewData["PageTitle"]</h1>
    </div>

    @if(Model.Any()){
    <div class="col-6 page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pt-0 justify-content-end" style="border:none;">
                @foreach(var element in Model){
                    @if(string.IsNullOrEmpty(element.Route)){
                    <li class="breadcrumb-item active" aria-current="page">@element.Title</li>
                    }else{
                    <li class="breadcrumb-item">
                        <a href="@element.Route" class="breadcrumb-link">@element.Title</a>
                    </li>
                    }
                }
            </ol>
        </nav>
    </div>
    }
</div>