@{
    ViewData["Title"] = "Catalogos CFE";
    ViewData["PageTitle"] = "Catalogos CFE ";
    var breadcrumbElements = new List<dynamic>();
    breadcrumbElements.Add(new { Title = "CFE Catalogos", Route ="" });
}
<partial name="PageHeader" model="@breadcrumbElements" />


<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="CFERecord" asp-action="TarifasIndex">Catalogos Tarifas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="CFEZona" asp-action="Index">Catalogos Zonas</a>
    </li>
</ul>