@{
    ViewData["Title"] = "Catalogos CFE";
    ViewData["PageTitle"] = "Catalogos CFE ";
    var breadcrumbElements = new List<dynamic>();
    breadcrumbElements.Add(new { Title = "CFE Catalogos", Route ="" });
}
<partial name="PageHeader" model="@breadcrumbElements" />


<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="CFETarifa" asp-action="Index">Catalogo Tarifas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="CFEZona" asp-action="Index">Catalogo Zonas</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="CFEProceso" asp-action="Index">Catalogo Procesos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="CFEMedidor" asp-action="Index">Catalogo Medidores</a>
    </li>
</ul>