@model SicemOperation.Models.DTO.CFE.ConsumoDTO
@{
    ViewData["Title"] = "CFE Registro Consumo";
    ViewData["PageTitle"] = "CFE Registro Consumo";
    var breadcrumbElements = new List<dynamic>();
    breadcrumbElements.Add(new { Title = "CFE Consumos", Route = "" });
}
@section styles
{
    <link rel="stylesheet" href="/assets/vendor_assets/css/select2.min.css">
}

<partial name="PageHeader" model="@breadcrumbElements" />

<div class="row mt-3">
    <div class="col-12">
        <div class="card card-Vertical card-default card-md mb-4">
            <div class="card-body pb-md-30">
                <div class="Vertical-form">
                    <form asp-controller="CFERecord" asp-action="Consumo" method="get">
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Af" class="color-dark fs-14 fw-500 align-center"></label>
                                <input asp-for="Af" type="number" class="form-control ip-light radius-xs b-light px-15" placeholder="Año" />
                            </div>
                            <div class="col-2">
                                <label asp-for="Mf" class="color-dark fs-14 fw-500 align-center"></label>
                                <input asp-for="Mf" type="number" class="form-control ip-light radius-xs b-light px-15" placeholder="Año" />
                            </div>
                            <div class="col-3">
                                <label asp-for="MedidorId" class="il-gray fs-14 fw-500 align-center"></label>
                                <select asp-for="MedidorId" asp-items="@Model.MedidoresListItems" class="form-control ip-light radius-xs b-light px-15 select2"></select>
                            </div>
                            <div class="col-2 d-flex justify-content-center mt-2">
                                <button type="submit" class="btn btn-primary btn-sm btn-squared text-capitalize px-30">Consultar</button>
                            </div>
                        </div>
                    </form>
                    @if(ViewBag.ErrorMessage != null)
                    {
                        <div class=" alert alert-danger mt-2" role="alert">
                            <div class="alert-content">
                                <p>@ViewBag.ErrorMessage</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if(Model.Consumo != null)
    {
        <div class="col-12">
            <div class="card card-Vertical card-default card-md mb-4">
                <div class="card-header">
                    <h5 id="#form-title" class="text-uppercase">@ViewBag.FormTitle</h5>
                </div>
                <div class="card-body pb-md-30">
                    <div class="Vertical-form">
                        <form asp-controller="CFERecord" asp-action="StoreConsumo" method="post">
                            <partial name="./Partials/ConsumoForm" model="Model.Consumo"/>
                            <div class="layout-button col-12 mt-25 justify-content-center">
                                <button type="submit" class="btn btn-primary btn-default btn-squared px-30">Guardar Consumo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<style>
    .widget {
        background-color: var(--color-white);
        box-shadow: 0 5px 20px rgba(var(--box-shadow-color-rgba), 0.03);
        border-radius: 10px;
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 1rem;
    }
</style>

@section scripts
{
    <script src="/assets/vendor_assets/js/select2.full.min.js"></script>
    <script>
        $(document).ready(() => {
            $('select.select2').select2();
        })
    </script>
}