<div class="widget">
    @* <div class="widget-header-title px-20 py-15">
        <h2 class="d-flex align-content-center fw-500">
            Opciones
        </h6>
    </div> *@
    <div class="category_sidebar">
        <aside class="product-sidebar-widget mb-30">
            <div class="widget_title nocollapse">
                <h6>Periodo</h6>
            </div>
            <div class="card border-0 shadow-none">
                <div class="job-price-ranges">
                    <div class="mb-0">
                        <p>Calendar</p>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="product-sidebar-widget mb-30">
            <div class="widget_title">
                <h6>Medidores</h6>
            </div>
            <div class="card border-0 shadow-none multi-collapse mt-10 collapse show" id="medidores-list-wrapper">
                <span>Cargando....</span>
            </div>
        </aside>
    </div>
</div>