@model SicemOperation.Entities.CFEConsumo

<div class="form-group row">
    <div class="col-4 mb-2">
        <label asp-for="Importe" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="Importe" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>

    <div class="col-4 mb-2">
        <label asp-for="Consumo" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="Consumo" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>

    <div class="col-4 mb-2">
        <label asp-for="Demanda" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="Demanda" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>

    <div class="col-4 mb-2">
        <label asp-for="Kvarh" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="Kvarh" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>

    <div class="col-4 mb-2">
        <label asp-for="FpPorc" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="FpPorc" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>

    <div class="col-4 mb-2">
        <label asp-for="FpMon" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="FpMon" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>

    <div class="col-4 mb-2">
        <label asp-for="DapMon" class="color-dark fs-14 fw-500 align-center mb-2"></label>
        <input asp-for="DapMon" type="number" class="form-control ip-light radius-xs b-light px-15"/>
    </div>
</div>