@using SicemOperation.Entities
@model IEnumerable<CFEMedidor>

<div class="medidors-list">
    <ul>
        @foreach(var me in Model)
        {
            <li>
                <div class="checkbox-theme-default custom-checkbox ">
                    <input class="checkbox" type="checkbox" id="m-@me.Id">
                    <label for="check-7">
                        <span class="checkbox-text">
                            @me.NumMedidor
                        </span>
                    </label>
                </div>

            </li>
        }
    </ul>
</div>
