@model IEnumerable<SicemOperation.Entities.CFEProceso>
@{
    ViewBag.Title = "Catalogo Procesos";
    ViewData["PageTitle"] = "Catalogo Procesos";
    var breadcrumbElements = new List<dynamic>();
    breadcrumbElements.Add( new { Title = "Catalogos", Route = "/CFERecord/catalogos" });
    breadcrumbElements.Add( new { Title = "Proceso", Route ="" });
}

<partial name="PageHeader" model="@breadcrumbElements" />

<div class="row my-2">
    <p class="border w-100 max-w-screen-xl mx-auto bg-white p-3">
        <a asp-action="Create" class="btn btn-primary">Registar Nuevo</a>
    </p>
</div>


<div class="row my-2">
    <div class="border bg-white p-3 w-100 max-w-screen-xl mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proceso</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Proceso</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>